
 {% extends 'base.html' %}

 {% block title %} about {% endblock title %}
 
 {% block body %} 
 

  <!-- yaha suru site copy -->
<div class="container-fluid mx-1 ">
  <div class="row align-items-center ">
    <div class="col-12 col-md-5 col-lg-6 order-md-2">

      <!-- Image -->
      <img src="\static\iimage\nas-mato-jnWGWSWTVqU-unsplash.jpg" class="img-fluid mw-md-150 mw-lg-130 mb-6 mb-md-0 aos-init aos-animate" style="border-radius: 800px!important;" alt="..." data-aos="fade-up" data-aos-delay="100">

    </div>
    <div class="col-12 col-md-7 col-lg-6 order-md-1 aos-init aos-animate" data-aos="fade-up">

      <!-- Heading -->
      <h1 class="display-3 text-center text-md-start">
        Welcome to <span class="text-primary">Jitendra Ice-Cream</span>. <br>
        We serve love.
      </h1>

      <!-- Text -->
      <p class="lead text-center text-md-start text-muted mb-6 mb-lg-8">
        Life is like an ice cream: Enjoy it before it melts.
      </p>

      <!-- Buttons -->
      <div class="text-center text-md-start">
        <a href="/" class="btn btn-primary shadow lift me-1">
          View all pages <i class="fe fe-arrow-right d-none d-md-inline ms-3"></i>
        </a>
        <a href="/contact" class="btn btn-primary-soft lift">
          Contact-Us
        </a>
      </div>

    </div>
  </div>                





    <!-- START THE FEATURETTES /card hai yaha pe -->

    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7">
        <h2 class="featurette-heading fw-normal lh-1">Our History.<span class="text-muted"></span></h2>
        <h4> "HISTORY HAS BEEN KIND TO US, BECAUSE WE HAVE ALWAYS INTENDED TO CREATE IT."</h4>
        <p class="lead">From a renovated chai Tapri in Ujjain, to far-off places with names we sometimes mispronounce, the journey that began in 1998 with 1 guys and the ice cream business they built is as legendary as the ice cream is euphoric.</p>
      </div>
      <div class="col-md-5">
       <img src="\static\iimage\menu-img.webp" class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" role="img" aria-label="Placeholder: 500x500" preserveAspectRatio="xMidYMid slice" focusable="false" alt="" srcset="">

      </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7 order-md-2">
        <h2 class="featurette-heading fw-normal lh-1">Take a Stand for Children <span class="text-muted"></span></h2>
        <p class="lead">
          Jitendra Ice-Cream  joins in a cooperative campaign with the national non profit, Children's Defense Fund; the campaign goal is to bring children's basic needs to the top of the national agenda. Over 70,000 postcards are sent to Congress concerning kids and other national issues.</p>
      </div>
      <div class="col-md-5 order-md-1">
        <img src="\static\iimage\childer.jpg" class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" role="img" aria-label="Placeholder: 500x500" preserveAspectRatio="xMidYMid slice" style="border-radius: 50px;" focusable="false" alt="" srcset="">
      </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7">
        <h2 class="featurette-heading fw-normal lh-1">OUR MISSION<span class="text-muted"></span></h2>
        <p class="lead"> <ul>
          <li> To deliver the ultimate ice cream experience to our customers by:</li>
          <li> Staying true to our commitment of providing best-in-class ice creams & desserts made from healthy and premium ingredients.</li>
          <li>Delivering our prompt services, world-class decor, & a selection wide enough to meet each individuals need.</li>
          
          <li> Constantly delighting our customers to ensure that they keep coming back for more.
            To be a great place to work where people are inspired to be the best they can be, by encouraging creativity and innovation.</li>
          <li>
            To be a true leader in thought and action and ensure that all stakeholders in our business; whether large or small; cherish and value the relationship.</li>
        </ul>
         </p>
      </div>
      <div class="col-md-5">
        <img src="\static\iimage\icecreams-2.jpg" class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" role="img" aria-label="Placeholder: 500x500" preserveAspectRatio="xMidYMid slice" style="border-radius: 20px; focusable="false" alt="" srcset="">
      </div>
    </div>
    <!-- /END THE FEATURETTES -->

  </div> 
</div>
 {% endblock body %}

