


 
 {% extends 'base.html' %}

 {% block title %} home {% endblock title %}
 
 {% block body %} 
 <!-- yaha pe hai apna slidder suru -->
 <div class="container-fluid px-0 ">
  <div id="carouselExampleCaptions" class="carousel slide carousel-fade" data-bs-ride="false">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner ">
      <div class="carousel-item active">
        
          <img src="\static\iimage\Slidder-Banner photo\banner-1.webp" height="400" class="d-block w-100" alt="...">
          <div class="carousel-caption d-none d-md-block">
            <div class="container">
            <h2 >
              <p style="color: #c5b7b7;  font-weight: bolder ; font-size: xx-large; position: absolute; top: -82px; right: -51px; text-align:right; ">We serve Love</P> 
                <br>
                <P style="color: #c5b7b7;  font-weight: bolder ; font-size: xx-large; position: absolute; top:7px; right: -117px; text-align:right; ">With Our Ice-Cream</P>
              </h2>
            <p style="color: #c5b7b7;  font-weight: bolder ; font-size: xx-large; position: absolute; top: -175px; right: -175px; text-align:right; ">Jitendra Best Ice-Cream</p>
          </div>
        </div>
      </div>
      <div class="carousel-item ">
        <img src="\static\iimage\Slidder-Banner photo\Banner-02.webp" height="400"  class="d-block w-100" alt="...">
        <div class="carousel-caption d-none d-md-block">
          <h3 style="font-weight: bolder;"></h3>
          <p></p>
       
        </div>
      </div>
      <div class="carousel-item">
        <img src="\static\iimage\Slidder-Banner photo\banners-3.webp" height="400" class="d-block w-100" alt="...">
        <div class="carousel-caption d-none d-md-block">
          <h3 style="font-weight: bolder; "></h3>
          <p></p>
        </div>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
 </div>
 <!-- yaha slidder khatam -->

<!-- yaha se card suru huaa -->
<div class="container my-3 ">
  <h1 class="my-4 text-center"> Select From Our Range Of Ice-Cream Bar</h1>
 <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
  <div class="col">
    <div class="card shadow-sm">
      <img src="\static\iimage\Ice-Cream first 2 row\1-Aam Candy.webp" width="100%" height="225" alt="" srcset="">

      <div class="card-body">
        <h2 class="fw-normal">AAM CANDY </h2>
        <p class="card-text">Aam Candy is no ‘aam’ candy! Taste this very special Ice Candy and experience the burst of mango flavour inside your mouth.</p>
        <div class="d-flex justify-content-between align-items-center">
          <div class="btn-group">
            <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
            <button type="button" class="btn btn-sm btn-outline-secondary">Order</button>
          </div>
          <small class="text-muted">9 mins</small>
        </div>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card shadow-sm">
      <img src="\static\iimage\Ice-Cream first 2 row\2-Jumbo Mango.webp" width="100%" height="225" alt="" srcset="">

      <div class="card-body">
        <h2 class="fw-normal">JUMBO MANGO</h2>
        <p class="card-text">Treat yourself to the exotic flavour combinations of jitendra Maple Walnut ice cream. Loaded with real walnut and crunchy caramel.</p>
        <div class="d-flex justify-content-between align-items-center">
          <div class="btn-group">
            <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
            <button type="button" class="btn btn-sm btn-outline-secondary">Order</button>
          </div>
          <small class="text-muted">9 mins</small>
        </div>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card shadow-sm">
    <img src="\static\iimage\Ice-Cream first 2 row\3-Jumbo Classic Chocobar.webp" width="100%" height="225"  alt="" srcset="">

      <div class="card-body">
        <h3 class="fw-normal">JUMBO CHOCOBAR</h3>
        <p class="card-text"> Say hello to the Jumbo classic Choco Bar! This bar is design for you.

        </p>
        <div class="d-flex justify-content-between align-items-center">
          <div class="btn-group">
            <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
            <button type="button" class="btn btn-sm btn-outline-secondary">Order</button>
          </div>
          <small class="text-muted">9 mins</small>
        </div>
      </div>
    </div>
  </div>

  <div class="col">
    <div class="card shadow-sm">
      <img src="\static\iimage\Ice-Cream first 2 row\4-Rocky Road.webp" width="100%" height="225"  alt="" srcset="">

      <div class="card-body">
        <h2 class="fw-normal">ROCKY ROAD</h2>
        <p class="card-text">A shout-out to all the dark chocolate lovers! Belgian Dark Chocolate is best enjoyed with nuts,Nutty Belgian Dark Chocolate Enjoy this bestseller.</p>
        <div class="d-flex justify-content-between align-items-center">
          <div class="btn-group">
            <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
            <button type="button" class="btn btn-sm btn-outline-secondary">Order</button>
          </div>
          <small class="text-muted">9 mins</small>
        </div>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card shadow-sm">
      <img src="\static\iimage\Ice-Cream first 2 row\5-Triple Chocolate.webp"  width="100%" height="225" alt="" srcset="">

      <div class="card-body">
        <h3 class="fw-normal">TRIPLE CHOCOLATE</h3>
        <p class="card-text">This dark chocolate Ice Cream coated with crispy dark chocolate and crackles. Triple Chocolate Ice Cream is truly worth everything!</p>
        <div class="d-flex justify-content-between align-items-center">
          <div class="btn-group">
            <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
            <button type="button" class="btn btn-sm btn-outline-secondary">Order</button>
          </div>
          <small class="text-muted">9 mins</small>
        </div>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card shadow-sm">
      <img src="\static\iimage\Ice-Cream first 2 row\6-Zulubar.webp" width="100%" height="225" alt="" srcset="">
      <div class="card-body">
        <h2 class="fw-normal">ZULUBAR</h2>
        <p class="card-text">Smooth chocolate Ice Cream topped with Butterscotch Crunch and filled in a crunchy cone. Are you ready for the heavenly taste? Enjoy this bestseller.</p>
        <div class="d-flex justify-content-between align-items-center">
          <div class="btn-group">
            <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
            <button type="button" class="btn btn-sm btn-outline-secondary">Order</button>
          </div>
          <small class="text-muted">9 mins</small>
        </div>
      </div>
    </div>
  </div>
</div>














<!-- yaha shuru huaa apna round round card -->



<div class="container my-3">
  <h1 class="my-4 text-center"> Select From Our Range Of Pastery</h1>
  <div class="row">
    <div class="col-lg-4">
     <img src="\static\iimage\1-BLACK FOREST PASTERY.webp"  class="bd-placeholder-img rounded-circle" width="140" height="140" role="img" aria-label="Placeholder: 140x140" preserveAspectRatio="xMidYMid slice" alt="" srcset="">
      <h2 class="fw-normal">BLACK FOREST </h2>
      <p>Love Black Forest Cakes? We’ve got something better! Say hello to Black Forest Pastry Ice Cream: Milk Ice Cream with real chocolate flakes, chocolate cake, and chocolate sauce.</p>
      <p><a class="btn btn-secondary" href="#">View details »</a></p>
    </div><!-- /.col-lg-4 -->


    <div class="col-lg-4">
      <img src="\static\iimage\2-Slice Cassata.webp"  class="bd-placeholder-img rounded-circle" width="140" height="140" role="img" aria-label="Placeholder: 140x140" preserveAspectRatio="xMidYMid slice" alt="" srcset="">
      <h2 class="fw-normal">SLICE CASSATA</h2>
      <p>Make your day a little exciting with the crunch of Cookie Cream SLICE CASSATA PASTERY! Coated with  cookies chunks, this one is all you need after a long and tiring day!</p>
      <p><a class="btn btn-secondary" href="#">View details »</a></p>
    </div><!-- /.col-lg-4 -->


    <div class="col-lg-4">
      <img src="\static\iimage\3-ice-cream-cake-black-forest.webp"  class="bd-placeholder-img rounded-circle" width="140" height="140" role="img" aria-label="Placeholder: 140x140" preserveAspectRatio="xMidYMid slice" alt="" srcset="">
      <h2 class="fw-normal">CHOCOLATE </h2>
      <p>Confused between black forest cake and ice cream? Say hello to Black Forest Ice Cream with the taste of black forest cake and the texture of creamy ice cream.</p>
      <p><a class="btn btn-secondary" href="#">View details »</a></p>
    </div><!-- /.col-lg-4 -->
  </div>


</div>

<!-- yaha hogya khatam round card -->


<div class="container my-3">
  <h1 class="my-4 text-center"> Select From Our Range Of Ice-Cream.</h1>
 <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
  <div class="col">
    <div class="card shadow-sm">
      <img src="\static\iimage\Ice-Cream last two row\1-American Nut Fun.jpg" width="100%" height="225" alt="" srcset="">

      <div class="card-body">
        <h2 class="fw-normal">AMERICAN NUT</h2>
        <p class="card-text">Our American Nuts ice cream gets a “fun” upgrade with our American Nut Fun Waffle Sundae. Two scoops of ice cream sandwiched between two waffle slices, this is a party treat made in dessert heaven! Say hello to American Nut Ice Cream 

        </p>
        <div class="d-flex justify-content-between align-items-center">
          <div class="btn-group">
            <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
            <button type="button" class="btn btn-sm btn-outline-secondary">Order</button>
          </div>
          <small class="text-muted">9 mins</small>
        </div>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card shadow-sm">
      <img src="\static\iimage\Ice-Cream last two row\2-Belgian Sensation merge.webp" width="100%" height="225" alt="" srcset="">

      <div class="card-body">
        <h2 class="fw-normal">BELGIAN SENSATION MERGE</h2>
        <p class="card-text">Treat yourself to the exotic flavour combinations of jitendra Maple Walnut ice cream. Loaded with real walnut and crunchy caramel.</p>
        <div class="d-flex justify-content-between align-items-center">
          <div class="btn-group">
            <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
            <button type="button" class="btn btn-sm btn-outline-secondary">Order</button>
          </div>
          <small class="text-muted">9 mins</small>
        </div>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card shadow-sm">
    <img src="\static\iimage\Ice-Cream last two row\3-Chocolate Addiction.jpg" width="100%" height="225"  alt="" srcset="">

      <div class="card-body">
        <h3 class="fw-normal">CHOCOLATE ADDICTION</h3>
        <p class="card-text">For all the chocolate lovers in the house. The Chocolate Addiction Sundae will fulfill all your desires for something sweet, bitter and nutty. Try this amazing dessert today and thank us later!</p>
        <div class="d-flex justify-content-between align-items-center">
          <div class="btn-group">
            <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
            <button type="button" class="btn btn-sm btn-outline-secondary">Order</button>
          </div>
          <small class="text-muted">9 mins</small>
        </div>
      </div>
    </div>
  </div>

  <div class="col">
    <div class="card shadow-sm">
      <img src="\static\iimage\Ice-Cream last two row\4-Cream Oreo.jpg" width="100%" height="225"  alt="" srcset="">

      <div class="card-body">
        <h2 class="fw-normal">CREAM OREO</h2>
        <p class="card-text">If you are having a fun family night together, the Cream Oreo Waffle Sundae is the perfect dessert to serve! Get a waffle topped with rich chocolate ice cream, the deliciousness of Oreo biscuits and your favourite toppings.</p>
        <div class="d-flex justify-content-between align-items-center">
          <div class="btn-group">
            <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
            <button type="button" class="btn btn-sm btn-outline-secondary">Order</button>
          </div>
          <small class="text-muted">9 mins</small>
        </div>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card shadow-sm">
      <img src="\static\iimage\Ice-Cream last two row\5-Rainbow Cassata.jpg"  width="100%" height="225" alt="" srcset="">

      <div class="card-body">
        <h2 class="fw-normal">RAINBOW CASSATA</h2>
        <p class="card-text">A colourful party on your plate! The flavours of vanilla, strawberry and pistachio of the Cassata ice cream with waffle cones and your favourite mix of toppings and syrups.</p>
        <div class="d-flex justify-content-between align-items-center">
          <div class="btn-group">
            <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
            <button type="button" class="btn btn-sm btn-outline-secondary">Order</button>
          </div>
          <small class="text-muted">9 mins</small>
        </div>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card shadow-sm">
      <img src="\static\iimage\Ice-Cream last two row\6-Seven Chocolate.jpg" width="100%" height="225" alt="" srcset="">
      <div class="card-body">
        <h2 class="fw-normal">SEVEN CHOCOLATE</h2>
        <p class="card-text">Every chocolate lover’s dream come true – Seven Chocolate Ice Cream! This ice cream dessert is a delectable combination of chocolatey tastes and textures, served in a crunchy waffle cone.</p>
        <div class="d-flex justify-content-between align-items-center">
          <div class="btn-group">
            <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
            <button type="button" class="btn btn-sm btn-outline-secondary">Order</button>
          </div>
          <small class="text-muted">9 mins</small>
        </div>
      </div>
    </div>
  </div>
</div>



<div class="container my-3">
  <h1 class="my-4 text-center"> Select From Our Range Of Ice-Cream Cone</h1>
 <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
 

 

  <div class="col">
    <div class="card shadow-sm">
      <img src="\static\iimage\cone\1-Choco Pops.webp" width="100%" height="225"  alt="" srcset="">

      <div class="card-body">
        <h2 class="fw-normal">CHOCO POPS</h2>
        <p class="card-text">A shout-out to all the dark chocolate lovers! Belgian Dark Chocolate is best enjoyed with nuts,Nutty Belgian Dark Chocolate Enjoy this bestseller.</p>
        <div class="d-flex justify-content-between align-items-center">
          <div class="btn-group">
            <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
            <button type="button" class="btn btn-sm btn-outline-secondary">Order</button>
          </div>
          <small class="text-muted">9 mins</small>
        </div>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card shadow-sm">
      <img src="\static\iimage\cone\2-kesar Pista.webp"  width="100%" height="225" alt="" srcset="">

      <div class="card-body">
        <h2 class="fw-normal">KESAR PISTA</h2>
        <p class="card-text">Taste the authentic flavour of kesar with every bite of . Thanks to this one, you will never miss the taste of your favourite dessert.</p>
        <div class="d-flex justify-content-between align-items-center">
          <div class="btn-group">
            <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
            <button type="button" class="btn btn-sm btn-outline-secondary">Order</button>
          </div>
          <small class="text-muted">9 mins</small>
        </div>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card shadow-sm">
      <img src="\static\iimage\cone\3-Swiss Choco Brownie.webp" width="100%" height="225" alt="" srcset="">
      <div class="card-body">
        <h2 class="fw-normal">SWIS BROWNIE</h2>
        <p class="card-text">Brownies are usually enjoyed hot. But what if you could get the taste of chocolate brownies in a cold cup of Ice Cream? Say hello to it.</p>
        <div class="d-flex justify-content-between align-items-center">
          <div class="btn-group">
            <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
            <button type="button" class="btn btn-sm btn-outline-secondary">Order</button>
          </div>
          <small class="text-muted">9 mins</small>
        </div>
      </div>
    </div>
  </div>
</div>




<!-- yaha card end huaa -->
 {% endblock body %}



<!-- 
 https://source.unsplash.com/1400x900/?python,water -->



 <!-- \static\iimage\mae-mu-X5u6snvBCf0-unsplash.jpg  
Welcome to the Best Ice-Cream of UjjainI know you eat ice-cream but I know you have not eaten my ice-cream so please eat my ice-cream -->






























<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>this is a test page</title>
</head>
<body>
    welcome to my website guys main aek website bana raha hoon 
   variable value is <b> {{variable}}</b>
   variable value is <b> {{variable1}}</b>
   variable value is <b> {{variable2}}</b>
</html> -->

<!-- is se pehela  sikhne ka tha
 -->



<!-- 
 {% comment %} <!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>jitendra ice Cream</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
  </head>
  <body>
 <!-- yaha suru huaa navigation bar -->
 <!-- navbar-dark bg-dark -->
<!-- 
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
          <a class="navbar-brand" href="#">Jitendra Ice Creams</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/about">About Us</a>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="/services" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Services
                </a>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="/services">Ice Cream</a></li>
                  <li><a class="dropdown-item" href="#">Softy</a></li>
                  <li><hr class="dropdown-divider"></li>
                  <li><a class="dropdown-item" href="#">Family pack</a></li>
                </ul>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/contact">Contact Us</a>
              </li>
            </ul>
            <form class="d-flex" role="search">
              <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
              <button class="btn btn-outline-success" type="submit">Search</button>
            </form>
          </div>
        </div>
      </nav> -->

      <!-- yaha hua naviagtion bar khatama -->







  <!-- yaha pe hai stater template hai -->
    <!-- <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous"></script>
  </body>
</html> {% endcomment %} --> -->